html,
body {
  font-family: "Dosis", sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #f5d7d4;
  border-radius: 10px;
  border: 4px solid #33302b;
}
