html {
  /* ÷background-color: beige; */
  /* overflow: auto; */
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c8b2d1;
  border-radius: 10px;
}
